<div class="container py-5">
    <div class="bg-main-light  p-4" *ngIf="allWishlist.length>0">
        <h2 class="mb-5">Whishlist</h2>
        <div class="row  py-1 wishProduct" *ngFor="let product of allWishlist ">
            <div class="col-md-1 ">
                <img [src]="product.imageCover" class="w-100" alt="">
            </div>
            <div class="col-md-8">
                <h4 class="pt-2">{{product.title}}</h4>
                <p class="text-main">{{product.category.name}}</p>
                <div class="d-flex align-items-center ">
                    <p class="m-0 text-main me-4">{{product.price|currency:'EGP'}}</p>
                    <button class="btn text-danger p-0" (click)="remove(product.id)"> <i
                            class="fa-regular fa-trash-can  me-1"></i>Remove</button>
                </div>

            </div>
         <div class="col-md-3 text-center align-self-center">
            <button (click)="addToCart(product.id)" class="btn  main-btn w-100 ">Add To Cart</button>

         </div>
        </div>
       
    </div>

</div>
